@*namespace CommunityEventManagementSystem.Components.Pages.Shared*@

@page "/notfound"

<h1>Not Found</h1>

<div class="alert alert-warning">
    The page you requested was not found.
</div>

<a class="btn btn-outline-primary" href="/">Go Home</a>
